@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body{
    margin: auto;
    color: #D5DCE4;
    font-family: 'Noto Sans', sans-serif;
    transition: .8s ease;
    transition-property: background-color;
}

/*Scroll Bar*/
::-webkit-scrollbar {
    width: 3px!important;
}

::-webkit-scrollbar-thumb {
    background-color: #39e8c7!important;
    border-radius: 50px!important;
}

::-webkit-scrollbar-track {
    background-color: rgb(38, 38, 38)!important;
}

a{
    text-decoration: none;
}

input{
    outline: none;
}

.container{
    position: relative;
}

@keyframes sendMessage{
    0%{
        background-color: #3d4c5e77;
        transform: scale(1.1);
    }
    50%{
        background-color: #3d4c5e33;
        transform: scale(1);
    }
    100%{
        background-color: #3d4c5e77;
        transform: scale(1.1);
    }
}



/*Animations*/
@keyframes orqaFon{
    0%{
        visibility: visible;
    }
    70%{
        background-color: black;
    }
    100%{
        background-color: transparent;
        display: none!important;
    }
}

@keyframes planeZone{
    0%{
        opacity: 0;
        transform: scale(0.5);
    }
    70%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes plane{
    0%{
        transform: rotate(0);
        top: 50%;
    }
    50%{
        transform: rotate(-35deg);
        top: 50%;
    }
    100%{
        top: -180px;
    }
}

.animation-container{
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
    z-index: 999;
    visibility: hidden;
    animation: orqaFon 3s;
}

.animation-container>.plane-zone{
    margin: auto;
    width: fit-content;
    top: 50%;
    left: 50%;
    margin-top: -115px;
    margin-left: -115px;
    position: absolute;
    width: 230px;
    height: 230px;
    background-color: #2786c9;
    border-radius: 200px;
    animation: planeZone 3s;
}

.animation-container>i.fa-telegram-plane{
    font-size: 10em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -80px;
    margin-left: -70px;
    text-shadow: 0 0 15px #00000099;
    animation: plane 3s;
}

.animation-container>p{
    position: absolute;
    bottom: 0;
    margin: 10px;
    width: fit-content;
    animation: planeZone 3s;
}



/*Navigatsiya Qismi*/
#nav{
    display: flex;
    align-items: center;
    background-color: #212D3B;
    color: #fff;
    justify-content: space-evenly;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    padding: 10px 0;
}

#nav>.kabinetga-link{
    display: block;
    color: #fff;
    padding: 15px 18px;
    font-size: 17pt;
    background-color: #2b3b4d;
    border-radius: 50px;
}

#nav>.user-data{
    display: flex;
    align-items: center;
}

#nav>.user-data>.user-image{
    padding:13px 15px;
    background-color: crimson;
    border-radius: 100px;
    font-size: 17pt;
    font-weight: bold;
    margin-right: 20px;
}

#nav>.user-data>.user-name>h1{
    margin: 0;
    margin-bottom: 5px;
}

#nav>.user-data>.user-name>p{
    margin: 0;
    font-size: 9pt;
}

#nav>.light-dark-mode{
    background-color: #2b3b4d;
    padding: 13px 16px;
    border-radius: 50px;
    font-size: 1.7em;
    cursor: pointer;
}

.light-dark-mode>.fa{
    transition: .4s ease;
}

.fa-sun{
    color: gold;
}

/*Yozishmalar Qismi*/
#chat-section{
    background-color: #151E27;
    height: 80vh;
    width: 100%;
    margin: auto;
    padding: 10px 0 10px;
    /*padding: 85px 0 65px;*/
    overflow-y: scroll;
}

.messages{
    width: fit-content;
    max-width: 60%;
    padding: 10px;
    margin: 5px 15px;
}

.messages>*{
    margin: 4px auto;
    text-align: left;
    overflow: hidden;
}

#chat-section>.my-message{
    float: right;
    background-color: #3E618A;
    border-radius: 15px 15px 0 15px;
}

#chat-section>.your-message{
    float: left;
    background-color: #232E3B;
    border-radius: 15px 15px 15px 0;
}

#chat-section>.messages>.chat-data{
    float: right;
    align-items: center;
    display: flex;
}

#chat-section>.messages>.chat-data>*{
    display: block;
    margin-left: 5px;
}

#chat-section>.messages>.chat-data>i.fa{
    font-size: 10pt;
}




/*Jo'natish Qismi*/
#send-section{
    background-color: #212D3B;
    width: 100%;
    padding: 5px 0 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#send-section>*{
    display: block;
    color: #a8bbd1;
}

#send-section>input{
    width: 70%;
    padding: 11px 5px;
    background-color: #24303d;
    border: none;
    font-size: 12pt;
}

#send-section>i.fa-telegram-plane{
    color: #34abff;
    font-size: 20pt;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #3d4c5e;
    animation: sendMessage 2s infinite;
}

#send-section>i.fa-smile{
    font-size: 20pt;
    cursor: pointer;
}

#forStyle{
    display: none;
}
/*DAY MODE (LIGHT-MODE)*/


/*Responsive*/
@media (min-width:800px){
    .night{
        background-color: #124a72;
    }
    #nav{
        width: 60%;
        left: 20%;
    }
    #chat-section{
        width: 60%;
    }
    #send-section{
        width: 60%;
        left: 20%;
    }
}

@media (max-width:450px){
    #nav>.kabinetga-link{
        font-size: 12pt;
        padding: 5px;
    }
    #nav>.user-data>.user-image{
        padding: 12px 13px;
        font-size: 14pt;
    }
    #nav>.user-data>.user-name>h1{
        font-size: 11pt;
    }
    #nav>.user-data>.user-name>p{
        font-size: 7pt;
    }
    #nav>.light-dark-mode{
        font-size: 1.4em;
        padding: 10px 13px;
    }
    #send-section>i.fa-smile{
        font-size: 15pt;
    }
}